.edit-control-container {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    background-image: linear-gradient(#fafafc 14px,transparent 0),linear-gradient(90deg,transparent 14px,#373739 0);
    background-color: #fff;
    background-size: 15px 15px,15px 15px;
}
